<%- include('partials/header') %>

<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/mediaQuery.css" />

<header>
  <%- include('partials/nav') %>

  <div class="container">
    <h1>Publish your passions, your way</h1>
    <h3>Create a unique and beautiful blog, its easy and free</h3>

    <a href="/signin">Create Your Blog</a>
  </div>
</header>

<%- include('partials/footer') %>
